
// $fa-font-path: "~node_modules/font-awesome/scss/font-awesome.scss";
// @import "~node_modules/font-awesome/scss/font-awesome.scss";
@import "../css/libs/scss/fontawesome.scss";
@import "../css/libs/scss/solid.scss";
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.left, .right{
  background-color:#00cccc;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 400px;
  font-size: 300px
}

.fold {
  position: absolute;
  bottom: 30px;
  width: 100%;
}