$imgpath: /content/images;


.illustrationHero {
    background: url(#{$imgpath}/ashleyIllustration.png);
    // background: url(#{$imgpath}/illustrationNoflowers.png);
    // 
}



.ashleyImg {
    max-height: 400px;
    // margin-left: -2rem;
    // opacity: 0; //FOR PARALLAX 

}

.scroll-trigger-about {
    top: 0;
}

.pAnimate {
    // opacity: 0;

}

.p1,
.p2,
.p3,
.p4,
.p5 {
    // opacity: 0;// FOR PARALLAX SCROLL 

}

@keyframes slideInLeft {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-100%);
    }
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(8%);
    }

    65% {
        transform: translateY(-4%);
    }

    80% {
        transform: translateY(4%);
    }

    // 95%{
    //     transform: translateY(-2%);
    // }           
    // 100% {
    //     transform: translateY(0%);
    // }       

}


@media (prefers-reduced-motion: no-preference) {
    .ashleyImg {
        animation: slideInLeft 5s infinite;
    }

    .pAnimate {
        animation: slideInDown 5s;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .pinTrigger-animation {
        animation: slideInLeft 3s 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .pTrigger-animation {
        animation: slideInDown 2s 1;
    }
}