
$imgpath: /content/images;


.illustrationHero {
    background: url(#{$imgpath}/ashleyIllustration.png);
    // background: url(#{$imgpath}/illustrationNoflowers.png);
    // 
}


.ashleyImg {
    max-height: 400px;
   // margin-left: -2rem;
   opacity: 0;

}

.scroll-trigger-about {
    top: 0;
}



.p1, .p2, .p3, .p4, .p5{
    opacity: 0;
}
// .aboutText {
//     font-size: 2rem;
// }
