$imgpath: /content/images;

.welcomeHero {
    background: url(#{$imgpath}/homebg.png);
}

// HERO IMAGE PARALAX CSS


body {

    .hero {
        position: fixed;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        height: 100vh;
        width: 100vw;

        h1,
        .tagline {
            position: relative;
            z-index: 1;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
        }
    }

    .content {
        position: absolute;
        z-index: 1000;
        // top: 80vh;
        top: 100vh;
        background: #faf8f8;
        width: 100%;
        box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.15);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
}

#projectBtn, #contactBtn, .sendBtn {
        transition: all .7s ease;
        color: white;
        border: 3px solid #dd8672;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        font-size: 17px;
        background-color: #dd8672;
        padding: 10px;
        outline: none;
        border-radius: 4px;

        &:hover {
            color: white;
            border: 3px solid #a9c875;
            background-color: #a9c875;

        }
        &:focus {
             color: white;
            border: 3px solid blue;
            background-color: #dd8672;
        }
}



