.navbar {
    font-size: 1.4rem;
    padding: 0;

    li {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

// .openNav {
//     background-color: #dd8672;
// }

// .navbar-collapse.collapse > .navbar-nav {
//     float: left !important;
//     background-color: whitesmoke;
//     width: 30%;
// }


#overlay {
  position: fixed; 
  display: none; 
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer;
}

.overlay {
    display: block !important; 

}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}