$imgpath: /content/images;


// .slides {
//     // font-size: 3rem;
//     // opacity: 0;

// }

.shopImg{
     background: url(#{$imgpath}/daxaLogo.png);
}

.ipads {
    height: 200vh;
    // background-color: #F0A195;
}

// .ipad {
//     max-height: 45rem;
//     max-width: 45rem;
// }

.ipadTextLeft,
.ipadTextRight {
    margin-top: 20%;
    opacity: 0;
  
}

// .rowStart {
//     margin-left: 2%;
// }

// .ipadRight{
// z-index: 1;
// }

// .ipadLeft {
// z-index: 2;

// }
.section1 {
    height: 120vh;
    background-color: #d4d0bc;

}

.pinSpacer {
    height: 100px;
}


.ipadRight {
    position: absolute;
    // margin-left: 25rem;
    // top: 10px;
    // left: 10px;
    z-index: 2;
}

.ipadLeft {
    position: absolute;
    margin-top: -24px;
    // top: 25px;
    // left: 25px;
    z-index: 1;
}

.pin-spacer {
    height: 0px !important;
}
// .ipadRow {
// // left: 40%;
// top: 50%;
// transform: translate(-50%, -50%);
// }
// .intro{
//   height: 100vh;
// }

// .imgCont {
//   position: relative;
//   height: 100vh;
//   text-align: center;
//   line-height: 100vh;
// }

// .slideImgs {
//   position: absolute;
// max-height: 500px;
//   width: 100%;
//   overflow: hidden;
//   display: flex;

// }
// .slideImgs img {
// max-height: 500px;
// }

// .axaHeader{
//  z-index: 1;
//  position: relative;
// }
// .logo {
//   background: url(#{$imgpath}/daxaLogo.png);
//   max-height: 700px;
// margin-top: -10rem;
// opacity: 0.5;
// }


// img.shopLogo {
//   opacity: 0.5;

//   /* Set rules to fill background */
//   // min-height: 100%;
//   // min-width: 1024px;

//   /* Set up proportionate scaling */
//   // width: 100%;
//   max-height: 700px;
//   // height: auto;

//   /* Set up positioning */
//   position: fixed;
//   top: 0;
//   left: 0;
// }

// // @media screen and (max-width: 1024px) { /* Specific to this particular image */
// //   img.shopLogo {
// //     left: 50%;
// //     margin-left: -512px;   /* 50% */
// //   }
// // }



// .scroll-trigger-shop {
//  top: 30% !important;

// }


// .slide-container {
//   display: grid;
//   grid-template-rows: 1fr;
//   grid-template-columns: 1fr;
// }

// .slide {
//   grid-row: 1;
//   grid-column: 1;
// }

// .instagramCont {
// // max-width: 70%;
// text-align: center;
// z-index: 15;
// position: relative;

// }


// .spacer {
//  height: 200px;
// }