/* Error: expected "{".
 *    ,
 * 11 | @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
 *    |                                                                                        ^
 *    '
 *   scss/components/_typography.scss 11:88  @use
 *   scss/style.scss 6:1                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"{\".\a    \2577 \a 11 \2502  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');\a    \2502                                                                                         ^\a    \2575 \a   scss/components/_typography.scss 11:88  @use\a   scss/style.scss 6:1                     root stylesheet";
}
