@import "./../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./../../node_modules/bootstrap/scss/_functions.scss";

@import "./../../node_modules/bootstrap/scss/_variables.scss";

@import "./../../node_modules/bootstrap/scss/_mixins";

@import "./../../node_modules/bootstrap/scss/_utilities.scss";
@import "./../../node_modules/rfs/scss.scss";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@font-face {
    font-family: 'Retro Signature';
    src: url('../fonts/retroSignature/RetroSignatureRegular.woff2') format('woff2'),
        url('../fonts/retroSignature/RetroSignatureRegular.woff') format('woff'),
        url('../fonts/retroSignature/RetroSignatureRegular.ttf') format('truetype'),
        url('../fonts/retroSignature/RetroSignatureRegular.svg#RetroSignatureRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'didot';
    src: url('../fonts/didot/Didot%20Regular.ttf') format('truetype'),
        url('../fonts/retroSignature/RetroSignatureRegular.ttf') format('truetype');
        font-weight: normal;
    font-style: normal;
    font-display: swap;
}


$secondaryColor: #dd8672;
$font-family-sans-serif: 'Quicksand',
sans-serif;
$font-signature: 'Retro Signature';
$font-tagline: 'didot',
sans-serif;

body {
    font-family: $font-family-sans-serif;
    color: white;
}

h2 {
    color: black;
    font-family: $font-signature;
    font-size: 8rem;
}

h3 {
    font-family: $font-tagline;
    color: $secondaryColor;
    text-transform: lowercase;
    letter-spacing: 10px;
}

// *** homepage ***

.signature {
    font-family: $font-signature;
    // font-size: 13rem;
    // margin-top: 10rem;
}


.tagline {
    font-family: $font-tagline;
    // font-size: 4rem;
    // margin-top: -4.5rem;
    letter-spacing: 3.5px;
}

.welcomeSection {
    color: black;

    .welcomeSub {
        font-size: 1.5rem;
    }
}


// work



// contact page
.card-body {
    color: $secondaryColor;
}

.sideCol {
    background-color: #A2C969;
}

.contactHeader {
    font-size: 7rem;
    color: white;
    font-family: $font-signature;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
    text-align: center;

}

#animateTwo {
    color: #FAF9F6 !important;

}

#animateThree {
    color: #d4d0bc;
}

// digital ArtXAsh page 

p.text {
    color: black;
    text-align: center;
}

// .shopTitle {
//     font-size: 10rem;
// }

.sliderContent,
.aboutText {
    // font-size: 2rem;
    font-family: $font-tagline;
}


// *** shop 

.topText {
    margin-top: -30rem !important;
}

.signature {
    @include font-size(13rem);
    @include margin-top(10rem);

}

.tagline {
    @include font-size(4rem !important);
    @include margin-top(-4.5rem !important);
}

@include media-breakpoint-down(sm) {
    .welcomeSub {
        @include font-size(1rem !important);
    }

    .signature {
        @include margin-top(44%);
        @include font-size(12rem);

    }


    .tagline {
        @include font-size(2.5rem !important);
    }
}

